<div class="layout-column align-items-center justify-content-start">
  <section class="layout-row align-items-center justify-content-center mt-30">
    <input data-test-id="input-note-title" [(ngModel)]="noteInput.title" type="text" class="large mx-8"
           placeholder="Note Title"/>
    <input data-test-id="input-note-status" [(ngModel)]="noteInput.status" type="text" class="large mx-8"
           placeholder="Note Status"/>
    <button class="" (click)="onNoteAdd()" data-test-id="submit-button">Add Note</button>
  </section>

  <div class="mt-50">
    <ul class="tabs">
      <li class="tab-item slide-up-fade-in"
          [attr.data-test-id]="status.toLowerCase() + 'Button'"
          [ngClass]="{'active' : selectedTab.toLowerCase() === status.toLowerCase()}"
          (click)="selectedTab = status"
          *ngFor="let status of statusList;">
        {{status}}
      </li>
    </ul>
  </div>
  <div class="card w-40 pt-30 pb-8">
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody data-test-id="notesList">
      <tr *ngFor="let note of allNotes | activeStatus: selectedTab">
        <td>{{note?.title}}</td>
        <td>{{note?.status}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
